# Data Science Tools and Ecosystem

In this notebook, I will summarize some of the key tools, libraries, and languages used in data science.

## Languages used in Data Science
- Python
- R
- SQL
- Julia
- Scala

## Common Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool           | Category      |
|----------------|---------------|
| Jupyter Notebook | IDE / Notebook |
| RStudio        | IDE           |
| Apache Spark   | Big Data Processing |
| TensorFlow     | Deep Learning |

## Examples of Arithmetic Expressions
Below, we demonstrate simple arithmetic expressions in Python.

In [2]:
# This code multiplies 3 by 4 and adds 5
(3 * 4) + 5

17

In [3]:
# Convert 200 minutes to hours
200 / 60

3.3333333333333335

## Objectives

- List popular languages in data science
- List commonly used libraries
- Demonstrate arithmetic operations
- Introduce data science tools

## Author
Arman Sahu